img{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    border-radius: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color:#1c1f22;

    
}

.containertxf{
    width: 500px;
    height: auto;
    border-radius: 15%;
    background-color: white;
}