/*
li:hover{
    background-color: #0B6E41;
    border-radius: 20px;
}

.espacio {

    margin-left: 60%;
}

@media (max-width:992px){
    .espacio{
        margin-left: 0px;
    }
}
#animated-image{
    width: 100%;
    height: auto;
    position: relative;
    animation: slide 5s linear infinite;
}
body{
    height: 800px;
}
.contcarou{
    width: 900px;
    height: 900px;
    position: center;
    border-style: black solid;
    border-radius: 15%;
    border-width: 1px;
}
.imgcarou{
    margin: 0px,50px,0px,50px;
    height: 740px;
    width: 900px;
    position: center;

}
.card-group{
    height: 100px;
}

COMETADO POR QUUE BUGEA PAGINA
*/


li:hover{
    background-color: #0B6E41;
    border-radius: 20px;
}

.espacio {

    margin-left: 60%;
}

@media (max-width:992px){
    .espacio{
        margin-left: 0px;
    }
}
#animated-image{
    width: 100%;
    height: auto;
    position: relative;
    animation: slide 5s linear infinite;
}
.imgcarou{
    width: 120vph;
    height: 740px;

}